[alias]
	co = checkout
	ci = commit
	st = status --short --branch
	br = branch
	hist = log --graph --date=short --decorate --oneline
	adl = add --all
	adt = add .
	adm = add --update
	ls = ls-files
	reci = commit --amend
[diff]
	renames = true
[user]
	name = tpywao
	email = tpywao@gmail.com
[color]
	ui = auto
[core]
	excludesfile = $HOME/.gitignore
